.em-ribbon-wrapper {
  position: fixed;
  pointer-events: none;
  z-index: 999999;

  .em-ribbon {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-family: "HelveticaNeue-CondensedBold", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    position: relative;
    text-align: center;
    font-size: 14px;
    width: 100%;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.3);
    pointer-events: none;
    opacity: 0.7;
    overflow: hidden;

    .em-ribbon-label {
      max-width: 80%;
    }
  }

  .em-top-left-ribbon,
  .em-bottom-right-ribbon {
    transform: rotate(-45deg);
  }
  .em-top-right-ribbon,
  .em-bottom-left-ribbon {
    transform: rotate(45deg);
  }

  .em-extra-small-ribbon {
    height: 16px;

    &.em-top-left-ribbon {
      left: -20%;
      top: 50px;
    }
    &.em-top-right-ribbon {
      left: 20%;
      top: 50px;
    }
    &.em-bottom-left-ribbon {
      bottom: 50px;
      left: -20%;
    }
    &.em-bottom-right-ribbon {
      bottom: 50px;
      left: 20%;
    }
  }
  .em-small-ribbon {
    height: 20px;

    &.em-top-left-ribbon {
      left: -20%;
      top: 50px;
    }
    &.em-top-right-ribbon {
      left: 20%;
      top: 50px;
    }
    &.em-bottom-left-ribbon {
      bottom: 50px;
      left: -20%;
    }
    &.em-bottom-right-ribbon {
      bottom: 50px;
      left: 20%;
    }
  }
  .em-normal-ribbon {
    height: 24px;

    &.em-top-left-ribbon {
      left: -20%;
      top: 50px;
    }
    &.em-top-right-ribbon {
      left: 20%;
      top: 50px;
    }
    &.em-bottom-left-ribbon {
      bottom: 50px;
      left: -20%;
    }
    &.em-bottom-right-ribbon {
      bottom: 50px;
      left: 20%;
    }
  }
  .em-large-ribbon {
    height: 30px;

    &.em-top-left-ribbon {
      left: -20%;
      top: 45px;
    }
    &.em-top-right-ribbon {
      left: 20%;
      top: 45px;
    }
    &.em-bottom-left-ribbon {
      left: -20%;
      bottom: 45px;
    }
    &.em-bottom-right-ribbon {
      left: 20%;
      bottom: 45px;
    }
  }
  .em-extra-large-ribbon {
    height: 36px;

    &.em-top-left-ribbon {
      left: -21%;
      top: 40px;
    }
    &.em-top-right-ribbon {
      left: 21%;
      top: 40px;
    }
    &.em-bottom-left-ribbon {
      left: -21%;
      bottom: 40px;
    }
    &.em-bottom-right-ribbon {
      left: 21%;
      bottom: 40px;
    }
  }
}

.em-extra-small-ribbon-wrapper,
.em-small-ribbon-wrapper,
.em-normal-ribbon-wrapper,
.em-large-ribbon-wrapper,
.em-extra-large-ribbon-wrapper {
  width: 200px;
}

.em-top-left-wrapper {
  top: 0;
  left: 0;
}

.em-top-right-wrapper {
  top: 0;
  right: 0;
}

.em-bottom-left-wrapper {
  bottom: 0;
  left: 0;
}

.em-bottom-right-wrapper {
  bottom: 0;
  right: 0;
}
