html {
  font-family: sans-serif;
  font-size: 12px;
  background: #FFFFFF;
  margin: 0;
}

body {
  width: 450px;
  font-size: 1.2rem;
  font-family: sans-serif;
}

.pcr-app {
  .pcr-swatches {
    justify-content: center;
  }
}

.outer-wrapper {
  overflow: auto;
  width: 100%;

  .settings-input {
    .pickr {
      height: 100%;
      width: 100%;

      .pcr-button {
        height: 100% !important;
        width: 100% !important;
      }
    }
    .save {
      height: 100%;
      width: 100%;
    }
  }

  .settings-container {
    max-height: 400px;
    overflow-y: auto;

    .empty-notice {
      font-weight: bold;
      font-size: 14px;
      text-align: center;
      margin: 30px 0;
    }

    .setting {
      border-bottom: 0.1rem dotted #CCCCCC;

      .display-container {
        display: flex;

        .col-10 {
          max-width: 86%;
          width: 86%;
          flex: 0 0 86%;
        }
        .col-1 {
          max-width: 7%;
          width: 7%;
          flex: 0 0 7%;
        }
        .display-labelUrl {
          .row {
            > div {
              overflow-wrap: break-word;
              padding: 0 3px;

              &:first-child {
                padding: 0 3px 0 15px;
              }

              &:last-child {
                padding: 0 10px 0 3px;
              }
            }
          }
        }

        .display-color {
          margin-right: 0;

          .display-color-color {
            float: right;
          }
          div {
            height: 24px;
            width: 24px;
            border-radius: 2px;
          }
        }

        .display-delete {
          height: 24px;
          width: 24px;
          text-align: right;

          .delete { }
        }
      }

      .edit-container {
        .pickr {
          height: 100%;
          width: 100%;

          .pcr-button {
            height: 100% !important;
            width: 100% !important;
          }
        }
        .update,
        .cancel {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}
